﻿@model reg_claim4.Models.claim
@{
    ViewBag.Title = "Зарегистрировать Заявку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Зарегистрировать Заявку</h4>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for=".UserNameFrom">Заявитель</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserNameFrom, new { htmlAttributes = new { @class = "form-control", @Value = User.Identity.Name } })
                @Html.ValidationMessageFor(model => model.UserNameFrom, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for=".UserNameWhom">Кому предназначена Заявка</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserNameWhom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserNameWhom, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for=".GroupWhom">Группа которой назначить заявку</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupWhom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupWhom, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ClaimeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClaimeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClaimeName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.claimBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.claimBody, 5, 10, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.claimBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dataTimeEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataTimeEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dataTimeEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.parents, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.parents, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.parents, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>


    @*<input id="acInput" type="text" data-WhomUserClaimFromAD='@Url.Action("WhomUserClaimFromAD","AddClaim")' />

    <script type="text/javascript">
        $(function() {

            var flowers = ["Астра", "Нарцисс", "Роза", "Пион", "Примула",
			      "Подснежник", "Мак", "Первоцвет", "Петуния", "Фиалка"];

            $('#acInput').autocomplete({
                source:flowers,
                minLength:  2
            })
        });
    </script>*@

    <input type="text" name="name" data-autocomplete-source='@Url.Action("WhomUserClaimFromAD","AddClaim")' />
    <input type="submit" value="Поиск" />

    <script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data-autocomplete-source") });
        });
    });
    </script>

}
<div>
    @Html.ActionLink("Вернутся на главную страинцу", "Index")
</div>
