﻿@model reg_claim4.Models.claim
@{
    ViewBag.Title = "Зарегистрировать Заявку";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using reg_claim4.Controllers
@{
    string Name;
    string Familia;
    string Otchestvo;
    string FullName;
    AD.getUser(User.Identity.Name, out Familia, out Name, out Otchestvo);

    FullName = Familia + " " + Name + " " + Otchestvo ;
}


<h4>Зарегистрировать Заявку</h4>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for=".UserNameFrom">Заявитель</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserNameFrom, new { htmlAttributes = new { @class = "form-control", @Value = FullName,
                @whoAmiFromClaim = @Url.Action("WhomUserClaimFromAD", "AddClaim")
                } })
                @Html.ValidationMessageFor(model => model.UserNameFrom, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for=".UserNameWhom">Кому предназначена Заявка</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserNameWhom, new { htmlAttributes = new { @class = "form-control" ,
               @data=@Url.Action("WhomUserClaimFromAD","AddClaim")
           } })
                @Html.ValidationMessageFor(model => model.UserNameWhom, "", new { @class = "text-danger",
           @data=""
           })
            </div>
        </div>
        @*<div class="form-group">
            <label class="control-label col-md-2" for=".GroupWhom">Группа которой назначить заявку</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupWhom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GroupWhom, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-2" for=".ClaimeName">Название заявки</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClaimeName, new { htmlAttributes = new { @class = "form-control" ,
                @dataClaimeName=@Url.Action("ClaimeName", "AddClaim")
           } })
                @Html.ValidationMessageFor(model => model.ClaimeName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for=".ClaimeName">Тело Заявки</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.claimBody, 5, 10, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.claimBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for=".dataTimeEnd">Время закрытия Заявки</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dataTimeEnd, new { htmlAttributes = new { @class = "form-control" ,
                @id = "dataTimeEnd"
           } })
                @Html.ValidationMessageFor(model => model.dataTimeEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for=".ClaimeName">Родительская заявка</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.parents, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.parents, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            <label class="control-label col-md-2" for=".ClaimeName">Тело Заявки</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>


    @*<input id="acInput" type="text" data-WhomUserClaimFromAD='@Url.Action("WhomUserClaimFromAD","AddClaim")' />

    <script type="text/javascript">
        $(function() {

            var flowers = ["Астра", "Нарцисс", "Роза", "Пион", "Примула",
			      "Подснежник", "Мак", "Первоцвет", "Петуния", "Фиалка"];

            $('#acInput').autocomplete({
                source:flowers,
                minLength:  2
            })
        });
    </script>*@

    @*<input type="text" name="name" data='@Url.Action("WhomUserClaimFromAD","AddClaim")' />
    <input type="submit" value="Поиск" />*@

    <script type="text/javascript">
        //кому зявка
    $(function () {
        $("[data]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("data") });
        });
    });


    //название заявки и вставить дату
    $(function () {
        $("[dataClaimeName]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("dataClaimeName") });
            target.autocomplete({
                select: function (event, ui) {
                    console.log(ui.item.value);                    
                    dataTimeEnd(ui.item.value);
                }
            });
        });
    });

    function dataTimeEnd(date_end) {
        $.ajax({
            type: "POST",
            url: "/AddClaim/DataTimeEnd",
            data: {
                date_end: date_end
            },
            success: function (data) {
                document.getElementById("dataTimeEnd").innerHTML = data;
            }
        });
    }

    // откого заявка по умолчанию тот кто открыл страницу
    $(function () {
        $("[whoAmiFromClaim]").each(function () {
            var target = $(this);
            target.autocomplete({ source: target.attr("whoAmiFromClaim") });
        });
    });
    </script>
    
}
<div>
    @Html.ActionLink("Вернутся на главную страинцу", "Index")
</div>
