@{
    ViewBag.Title = "Редактирование ФИО";
    @model IEnumerable<reg_claim4.Models.logs>
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.text</h3>

<div class="jumbotron">    
    <div class="pedit_general_row clear_fix">
        <div class="pedit_general_label fl_l ta_r">Имя:</div>
        <div class="pedit_general_labeled fl_l">
            <input type="text" value=@ViewBag.Name id="pedit_first_name" class="dark" autocomplete="off" />
        </div>
    </div>
    <div class="pedit_general_row clear_fix">
        <div class="pedit_general_label fl_l ta_r">Фамилия:</div>
        <div class="pedit_general_labeled fl_l">
            <input type="text" value=@ViewBag.Surname id="pedit_last_name" class="dark" autocomplete="off" />
        </div>
        <div class="fl_l" id="pedit_name_tt_place"></div>
    </div>
    <div class="pedit_general_row clear_fix">
        <div class="pedit_general_label fl_l ta_r">Отчество:</div>
        <div class="pedit_general_labeled fl_l">
            <input type="text" value=@ViewBag.SecondName id="pedit_middle_name" class="dark" autocomplete="off" /><br /><hr />
            <input type="submit" value="Отправить" />
        </div>
    </div>
    <h2>Вы Заходили в Последний Раз</h2>
    <table class="table">
        <tr>
            <th>
                <p>ФИО</p>
            </th>
            <th>
               <p>Событие</p>
            </th>
            <th>
               <p>Время входа</p>
            </th>
            <th>
                <p>IP адрес ПК</p>
            </th>
            <th>
                <p>Имя ПК</p>
            </th>
            <th>
                <p>Url</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.LOGS)
        {
            <tr>
                <td>
                    <p>@item.UserName</p>
                </td>
                <td>
                    <p>@item.events</p>
                </td>
                <td>
                    <p>@item.dataTime</p>
                </td>
                <td>
                    <p>@item.pc_ip</p>
                </td>
                <td>
                    <p>@item.pc_name</p>
                </td> 
                 @*</td>*@
                <td>
                    <p>@item.Url</p>
                </td>

            </tr>
        }
        </table>
</div>